<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="adminMapper">
		<!-- reusltMap -->
		<resultMap type="Coupon" id="CouponResultSet">
			<id property = "cpNo" column="CP_NO"/>
			<result property="cpName" column="CP_NAME"/>
			<result property="cpDiscount" column="CP_DISCOUNT"/>
			<result property="cpDate" column="CP_DATE"/>
		</resultMap>

<insert id="couponInput" parameterType="java.util.List">
	INSERT INTO COUPON
	VALUES(COU_SEQ.NEXTVAL,#{cpName},#{cpDiscount},SYSDATE)
</insert>		

<select id="selectListCoupon" resultMap="CouponResultSet">
	SELECT * FROM COUPON
</select>	
		
		
</mapper>

