<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="boardMapper">
		<!-- reusltMap -->
		<resultMap type="Board" id="boardResultSet">
			<id property = "qna_no" column="QNA_NO"/>
			<result property="b_cate_no" column="B_CATE_NO"/>
			<result property="mem_no" column="MEM_NO"/>
			<result property="content" column="QNA_INFO"/>
			<result property="qna_chk" column="QNA_CHK"/>
			<result property="qna_date" column="QNA_DATE"/>
			<result property="qna_writer" column="QNA_WRITER"/>
			<result property="qna_title" column="QNA_TITLE"/>
			<result property="originalFileName" column="ORIGINAL_FILENAME"/>
			<result property="renameFileName" column="RENAME_FILENAME"/>
			<result property="qna_modify_date" column="QNA_MODIFY_DATE"/>
			<result property="qna_password" column="QNA_PASSWORD"/>
			<result property="qna_secure" column="QNA_SECURE"/>
		</resultMap>

		<insert id="insertBoard" parameterType="Board">
		INSERT INTO QNA
		VALUES(QNA_SEQ.NEXTVAL, #{b_cate_no},#{mem_no}, #{content}, #{qna_chk}, SYSDATE,
				#{qna_writer},#{qna_title},#{originalFileName},#{renameFileName},SYSDATE,
				#{qna_password},#{qna_secure})
		</insert>
		
		<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT *
		FROM QNA
		WHERE QNA_NO=#{qna_no}
		</select>

		<select id="getListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM QNA
		WHERE B_CATE_NO=#{b_cate_no}
	</select>
		
		<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM QNA
		WHERE B_CATE_NO=#{b_cate_no}
		ORDER BY QNA_NO DESC
		</select>
		
		
</mapper>



</mapper>
