<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="cartMapper">
	<resultMap type="Cart" id="cartResultSet">
			<id property = "ca_no" column="CA_NO"/>
			<result property="mem_no" column="MEM_NO"/>
			<result property="prdt_no" column="PRDT_NO"/>
			<result property="prdt_price" column="PRDT_PRICE"/>
			<result property="prdt_count" column="PRDT_COUNT"/>
			<result property="prdt_sumprice" column="PRDT_SUMPRICE"/>
			<result property="prdt_color" column="PRDT_COLOR"/>
			<result property="prdt_size" column="PRDT_SIZE"/>
			<result property="path" column="PRDT_IMAGE_PATH"/>
			<result property="image" column="PRDT_IMAGE"/>
			<result property="prdt_name" column="PRDT_NAME"/>
			
	</resultMap>

	
	<resultMap type="Coupon" id="couponMemResultSet">
		<id property="cpmem_no" column="CPMEM_NO"/>
		<result property ="cpName" column="CP_NAME"/>
		<result property="cpDiscount" column="CP_DISCOUNT"/>
	</resultMap>

	<select id="selectList" parameterType="_int" resultMap="cartResultSet">
	SELECT * 
	FROM CRT C
	JOIN PRDT P ON (C.PRDT_NO = P.PRDT_NO)
	WHERE C.MEM_NO = #{mem_no}
	</select>


	<select id="selectCouponList" parameterType="_int" resultMap="couponMemResultSet">
	SELECT *
	FROM COUPON_MEM CM
	JOIN COUPON C ON (CM.CP_NO=C.CP_NO)
	WHERE CM.MEM_NO = #{mem_no}
	
	</select>
	
	<delete id="deleteCart" parameterType="java.util.Map">
		<foreach  item="c" collection="noArr"  index="index" 
		      separator=";" open="DECLARE BEGIN" close="; END;" >
			DELETE FROM CRT
			WHERE CA_NO = #{c.ca_no}
		</foreach>

	<!-- 	DELETE FROM CRT
		<where>
		 <foreach collection="noArr" item="noArr" open="" close="" separator="OR">		
		  (CA_NO = #{noArr.ca_no})
		  </foreach>
		</where> -->
	</delete>

	<insert id="cartInsert">
		<foreach  item="o" collection="olist"  index="index" 
      separator=";" open="DECLARE BEGIN" close="; END;" >
		INSERT INTO  ORD 
	 	VALUES(ORD_SEQ.NEXTVAL,NULL,#{o.mem_no},#{o.prdt_no},SYSDATE,
	 					#{o.ord_receiver},#{o.ord_phone},#{o.ord_address},#{o.ord_message},
	 					'A',#{o.ord_size},#{o.ord_color},#{o.ord_count})
		</foreach>
	</insert>

</mapper>