<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="productMapper">
		<!-- reusltMap --> 
		<resultMap type="Product" id="productResultSet">
			<id property = "prdtNo" column="PRDT_NO"/>
			<result property="upNo" column="UP_NO"/>
			<result property="prdtName" column="PRDT_NAME"/>
			<result property="prdtComment" column="PRDT_COMMENT"/>
			<result property="prdtPrice" column="PRDT_PRICE"/>
			<result property="prdtMake" column="PRDT_MAKE"/>
			<result property="prdtImage" column="PRDT_IMAGE"/>
			<result property="prdtDate" column="PRDT_DATE"/>
			<result property="prdtModifyDate" column="PRDT_MODIFY_DATE"/>
			<result property="downNo" column="DOWN_CATE"/>
			<result property="prdtCode" column="PRDT_CODE"/>
			<result property="prdtImagePath" column="PRDT_IMAGE_PATH"/>
			<result property="prdtDetailImage" column="PRDT_DETAIL_IMAGE"/>
			<result property="prdtDetailImagePath" column="PRDT_DETAIL_IMAGE_PATH"/>
			<result property="prdtSale" column="PRDT_SALE"/>
			<result property="prdtScount" column="PRDT_SCOUNT"/>
			<result property="prdtReview" column="PRDT_REVIEW"/>
			<result property="prdtStatus" column="PRDT_STATUS"/>
		</resultMap>
		
		<resultMap type="Product_opt" id="product_optResultSet">
			<id property = "optNo" column="OPT_NO"/>
			<result property="PrdtNo" column="PRDT_NO"/>
			<result property="optColor" column="OPT_COLOR"/>
			<result property="size" column="OPT_SIZE"/>
			<result property="stock" column="OPT_STOCK"/>
			<result property="optDate" column="OPT_DATE"/>
			<result property="optModifyDate" column="MODIFY_DATE"/>
			<result property="prdtCode" column="PRDT_CODE"/>
		</resultMap>
		
		<resultMap type="Product_color" id="product_colorResultSet">
			<id property = "pcName" column="PC_NAME"/>
			<result property="pcRgb" column="PC_RGB"/>
		</resultMap> 
		
		<resultMap type="Wish" id="WishResultSet">
			<id property = "memNo" column="MEM_NO"/>
			<result property="prdtNo" column="PRDT_NO"/>
		</resultMap> 
		
		<resultMap type="productbenner" id="PBResultSet">
			<id property = "pbImg" column="OT_EVENTIMG"/>
			<result property = "pbImgPath" column="OT_EVENTIMG_PATH"/>
			<result property="pbComment" column="OT_EVENT_COMMENT"/>
		</resultMap> 
		
	 <resultMap type="MaindownCategory" id="MaindownCategoryResultSet">
			<id property = "downNo" column="DOWN_NO"/>
			<result property="upNo" column="UP_NO"/>
			<result property="downName" column="DOWN_NAME"/>
			<result property="downUsing" column="DOWN_USING"/>
		</resultMap>
		
		<resultMap type="MainupCategory" id="MainupCategoryResultSet">
			<id property = "upNo" column="UP_NO"/>
			<result property="upName" column="UP_NAME"/>
			<result property="upUsing" column="UP_USING"/>
		</resultMap>
		
		<resultMap type="Board" id="boardResultSet1">
			<id property = "qna_no" column="QNA_NO"/>
			<result property="b_cate_no" column="B_CATE_NO"/>
			<result property="mem_no" column="MEM_NO"/>
			<result property="content" column="QNA_INFO"/>
			<result property="qna_chk" column="QNA_CHK"/>
			<result property="qna_date" column="QNA_DATE"/>
			<result property="qna_writer" column="QNA_WRITER"/>
			<result property="qna_title" column="QNA_TITLE"/>
			<result property="originalFileName" column="ORIGINAL_FILENAME"/>
			<result property="renameFileName" column="RENAME_FILENAME"/>
			<result property="qna_modify_date" column="QNA_MODIFY_DATE"/>
			<result property="qna_password" column="QNA_PASSWORD"/>
			<result property="qna_secure" column="QNA_SECURE"/>
			<result property="prdt_code" column="PRDT_CODE"/>
		</resultMap>
		
		<resultMap type="productWith" id="pwResultSet">
			<id property = "prdtNo" column="PRDT_NO"/>
			<result property="with1" column="CONNECT_NO1"/>
			<result property="with2" column="CONNECT_NO2"/>
			<result property="with3" column="CONNECT_NO3"/>
			<result property="with4" column="CONNECT_NO4"/>
			<result property="with5" column="CONNECT_NO5"/>
			<result property="with6" column="CONNECT_NO6"/>
			<result property="with7" column="CONNECT_NO7"/>
			<result property="with8" column="CONNECT_NO8"/>
		</resultMap>
 
	
		<select id="selectQnaListCount" parameterType="_int" resultType="_int">
	  	SELECT COUNT(*)
	  	FROM QNA
	  	WHERE PRDT_CODE = #{product_detail}
		</select>
		
		<select id="selectDetailReviewWriteCheck" parameterType="ReviewCheck" resultType="_int">
	  	SELECT COUNT(*)
		FROM ORD
		WHERE MEM_NO = #{memNo}
		AND PRDT_NO = #{prdtNo}
		</select>
		
		<select id="getOrdNo" parameterType="ReviewCheck" resultType="_int">
	  	SELECT ORD_DETAILNO
		FROM ORD
		WHERE MEM_NO = #{memNo}
		AND PRDT_NO = #{prdtNo}
		</select>
		
		<select id="getRvNo" parameterType="ReviewCheck" resultType="_int">
	  	SELECT RV_NO
		FROM REVIEW
		WHERE MEM_CODE = #{memNo}
		AND PRDT_CODE = #{prdtNo}
		</select>
		
	<select id="selectQnaList" parameterType="_int" resultMap="boardResultSet1">
	  	SELECT *
	  	FROM QNA
	  	WHERE PRDT_CODE = #{product_detail}
		</select>
		
	<select id="selectWithList" parameterType="_int" resultMap="pwResultSet">
	  	SELECT *
		FROM PRDT_CONNECT
		WHERE PRDT_NO = #{product_detail}
		</select>
		
	<select id="selectDetailListp" parameterType="_int" resultMap="productResultSet">
	  	SELECT *
		FROM PRDT
		WHERE PRDT_NO = #{with}
		</select>
	
		<select id="getListCount1" parameterType="_int" resultType="_int">
	  	SELECT COUNT(*)
	  	FROM PRDT
	  	WHERE UP_NO = #{product1}
	  	AND PRDT_STATUS = 'Y'
		</select>
		
		<select id="getListCount2" parameterType="_int" resultType="_int">
	  	SELECT COUNT(*)
	  	FROM PRDT
	  	WHERE PRDT_NO LIKE #{product2}||'%'
	  	AND PRDT_STATUS = 'Y'
		</select>
		
		<select id="getSearchListCount" parameterType="String" resultType="_int">
	  	SELECT COUNT(*)
	  	FROM PRDT
	  	WHERE PRDT_NAME LIKE '%'||#{search}||'%'
	  	AND PRDT_STATUS = 'Y'
		</select>
  
		<select id="selectProduct1" parameterType="_int" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE UP_NO = #{product1}
		AND PRDT_STATUS = 'Y'
		ORDER BY PRDT_NO DESC
		</select>
		
		<select id="selectProductDetail" parameterType="_int" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE PRDT_NO = #{product_detail}
		</select>
		
		<select id="selectProduct2" parameterType="_int" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE PRDT_NO LIKE #{product2}||'%'
		AND PRDT_STATUS = 'Y'
		ORDER BY PRDT_NO DESC
		</select>
		
		<select id="selectSearchProduct" parameterType="String" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE PRDT_NAME LIKE '%'||#{search}||'%'
		AND PRDT_STATUS = 'Y'
		ORDER BY PRDT_NO DESC
		</select>
		
	 	<select id="selectProductOption1" parameterType="_int" resultMap="product_optResultSet">
		SELECT PRDT_NO, OPT_COLOR
		FROM PRDT_OPT
		WHERE PRDT_NO LIKE #{product1}||'%'
		GROUP BY PRDT_NO, OPT_COLOR
		</select>
		
		<select id="selectProductOption" parameterType="_int" resultMap="product_optResultSet">
		SELECT OPT_COLOR
		FROM PRDT_OPT
		WHERE PRDT_NO = #{product_detail}
		GROUP BY OPT_COLOR
		</select>
		<select id="selectProductOption22" parameterType="_int" resultMap="product_optResultSet">
		SELECT OPT_COLOR
		FROM PRDT_OPT
		WHERE PRDT_NO = #{product_detail}
		GROUP BY OPT_COLOR
		</select>
		<select id="selectProductOption33" parameterType="_int" resultMap="product_optResultSet">
		SELECT OPT_SIZE
		FROM PRDT_OPT
		WHERE PRDT_NO = #{product_detail}
		GROUP BY OPT_SIZE
		</select>
		<select id="selectProductColor3" parameterType="_int" resultMap="product_colorResultSet">
		SELECT PC.PC_RGB PC_RGB
		FROM PRDT P
		JOIN PRDT_OPT PO ON (P.PRDT_NO = PO.PRDT_NO)
		JOIN P_COLOR PC ON (PO.OPT_COLOR = PC.PC_NAME)
		WHERE P.PRDT_NO = #{product_detail}
		GROUP BY PC.PC_RGB
		</select>
		
		<select id="selectProductOption2" parameterType="_int" resultMap="product_optResultSet">
		SELECT PRDT_NO, OPT_COLOR
		FROM PRDT_OPT
		WHERE PRDT_NO LIKE #{product2}||'%'
		GROUP BY PRDT_NO, OPT_COLOR
		</select>
		
		
		
		<select id="selectSearchProductOption" parameterType="String" resultMap="product_optResultSet">
		SELECT P.PRDT_NO PRDT_NO, PO.OPT_COLOR OPT_COLOR
		FROM PRDT P
        JOIN PRDT_OPT PO ON(P.PRDT_NO = PO.PRDT_NO)
		WHERE P.PRDT_NAME LIKE '%'||#{search}||'%'
		GROUP BY P.PRDT_NO, PO.OPT_COLOR
		</select>
		
		<select id="selectProductColor1" parameterType="_int" resultMap="product_colorResultSet">
		SELECT *
		FROM P_COLOR
		
		</select>
		
		<select id="selectProductColor2" parameterType="_int" resultMap="product_colorResultSet">
		SELECT *
		FROM P_COLOR
		
		</select>
		
<select id="selectPB" resultMap="PBResultSet">
		SELECT *
		FROM PRDT_DESIGN
		
		</select>
	
  		<select id="selectCategory1" parameterType="_int" resultMap="MaindownCategoryResultSet">
		SELECT *
		FROM DOWN_CATE
		WHERE UP_NO = #{product1}
		AND DOWN_USING = 'Y'
		ORDER BY DOWN_NO ASC
		</select> 
		
		 <select id="selectUpCategory1" parameterType="_int" resultMap="MainupCategoryResultSet">
		SELECT *
		FROM UP_CATE
		</select> 
		
		<select id="selectCategory2" parameterType="_int" resultMap="MaindownCategoryResultSet">
		SELECT *
		FROM DOWN_CATE
		WHERE UP_NO = #{product2}
		AND DOWN_USING = 'Y'
		ORDER BY DOWN_NO ASC
		</select> 
		
		 <select id="selectUpCategory2" parameterType="_int" resultMap="MainupCategoryResultSet">
		SELECT *
		FROM UP_CATE
		WHERE UP_USING = 'Y'
		</select> 
		
		<select id="selectCategory3" parameterType="_int" resultMap="MaindownCategoryResultSet">
		SELECT *
		FROM DOWN_CATE
		WHERE DOWN_USING = 'Y'
		</select> 
		
		 <select id="selectUpCategory3" parameterType="_int" resultMap="MainupCategoryResultSet">
		SELECT *
		FROM UP_CATE
		WHERE UP_USING = 'Y'
		</select> 
		
		<select id="selectSortProduct1" parameterType="MainSearchCondition" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE UP_NO = #{product1}
		AND PRDT_STATUS = 'Y'
		<if test="sort == 0">
		ORDER BY PRDT_NO DESC
		</if>
		<if test="sort == 1">
		ORDER BY PRDT_SCOUNT DESC
		</if>
		<if test="sort == 2">
		ORDER BY PRDT_REVIEW DESC
		</if>
		<if test="sort == 3">
		ORDER BY PRDT_PRICE ASC
		</if>
		<if test="sort == 4">
		ORDER BY PRDT_PRICE DESC
		</if>
		</select>
		
		<select id="selectSortProduct2" parameterType="MainSearchCondition" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE PRDT_NO LIKE #{product2}||'%'
		AND PRDT_STATUS = 'Y'
		<if test="sort == 0">
		ORDER BY PRDT_NO DESC
		</if>
		<if test="sort == 1">
		ORDER BY PRDT_SCOUNT DESC
		</if>
		<if test="sort == 2">
		ORDER BY PRDT_REVIEW DESC
		</if>
		<if test="sort == 3">
		ORDER BY PRDT_PRICE ASC
		</if>
		<if test="sort == 4">
		ORDER BY PRDT_PRICE DESC
		</if>
		</select>
		
		<select id="ProductSelectList" resultMap="productResultSet">
			SELECT * FROM PRDT
		</select>
		
		<update id="ProductDelete" parameterType="_int">
			UPDATE PRDT
			SET PRDT_STATUS='N'
			WHERE PRDT_NO=#{prdtNo}
		</update>
		<select id="selectWish" parameterType="_int" resultMap="WishResultSet">
		SELECT MEM_NO,PRDT_NO
		FROM DIBS
		WHERE MEM_NO = #{memNo}
		</select>
		
		<insert id="insertWish" parameterType="Wish">
		INSERT INTO DIBS
		VALUES(DIBS_SEQ.NEXTVAL,#{memNo},#{prdtNo},DEFAULT,NULL,NULL,DEFAULT)
		</insert>
		
		<insert id="ProductInsert" parameterType="Product">
		INSERT INTO PRDT
		VALUES (PRODUCT_SEQ.NEXTVAL, #{upNo}, #{prdtName}, #{prdtComment}
				,#{prdtPrice}, NULL, NULL, #{prdtImage}
				,SYSDATE, NULL, DEFAULT, #{downNo}, PRODUCT_SEQ.NEXTVAL
				,#{prdtImagePath}, #{prdtDetailImage},#{prdtDetailImagePath}
				,#{prdtSale}, DEFAULT, DEFAULT,DEFAULT)	 
		</insert>
		
		<insert id="insertCart" parameterType="Cart">
		INSERT INTO CRT
		VALUES (#{memNo},#{prdt_no},#{prdt_price},1,#{prdt_sumprice},#{prdt_color},#{prdt_size},CA_SEQ.NEXTVAL)	 
		</insert>

		<select id="selectPrdtNo" resultMap="productResultSet">
			SELECT *
			FROM (SELECT *
            	  FROM PRDT
             	  ORDER BY PRDT_DATE DESC)
			WHERE ROWNUM=1
		</select>
		
		<insert id="insertPotList" parameterType="java.util.Map">
			INSERT INTO PRDT_OPT (OPT_NO,PRDT_NO, OPT_COLOR, OPT_SIZE, OPT_STOCK)
			SELECT OPT_SEQ.NEXTVAL, A.*FROM(
			<foreach collection="poArr" item="po"  separator="UNION ALL" >
			SELECT #{po.PrdtNo} as PRDT_NO,
				   #{po.optColor} as OPT_COLOR,
				   #{po.size} as OPT_SIZE,
				   #{po.stock} as OPT_STOCK
			FROM DUAL
			</foreach>) A
		</insert>
		
		<insert id="detailReviewInsert" parameterType="DetailReview">
			INSERT INTO REVIEW
			VALUES(RV_SEQ.NEXTVAL,#{prdtNo},#{memNo},#{rvHeight},#{rvWeight},#{ordNo},#{rvInfo},#{fileName},DEFAULT,SYSDATE,#{rvColor},#{rvSize},#{rvPoint})
		</insert>
		
		<insert id="detailReviewPhotoInsert" parameterType="DetailReview">
			INSERT INTO REVIEW_PHOTO
			VALUES(RP_SEQ.NEXTVAL,#{rvNo},#{fileName})
		</insert>
		<insert id="detailReviewPhotoInsert2" parameterType="DetailReview">
			INSERT INTO REVIEW_PHOTO
			VALUES(RP_SEQ.NEXTVAL,#{rvNo},#{fileName2})
		</insert>
		<update id="updateReviewCount" parameterType="DetailReview">
			UPDATE PRDT
			SET PRDT_REVIEW = PRDT_REVIEW+1
			WHERE PRDT_NO=#{prdtNo}
		</update>
		
		

</mapper>
