<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="productMapper">
		<!-- reusltMap --> 
		<resultMap type="Product" id="productResultSet">
			<id property = "prdtNo" column="PRDT_NO"/>
			<result property="upNo" column="UP_NO"/>
			<result property="prdtName" column="PRDT_NAME"/>
			<result property="prdtComment" column="PRDT_COMMENT"/>
			<result property="prdtPrice" column="PRDT_PRICE"/>
			<result property="prdtMake" column="PRDT_MAKE"/>
			<result property="prdtImage" column="PRDT_IMAGE"/>
			<result property="prdtDate" column="PRDT_DATE"/>
			<result property="prdtModifyDate" column="PRDT_MODIFY_DATE"/>
			<result property="downNo" column="DOWN_CATE"/>
			<result property="prdtCode" column="PRDT_CODE"/>
			<result property="prdtImagePath" column="PRDT_IMAGE_PATH"/>
			<result property="prdtDetailImage" column="PRDT_DETAIL_IMAGE"/>
			<result property="prdtDetailImagePath" column="PRDT_DETAIL_IMAGE_PATH"/>
			<result property="prdtSale" column="PRDT_SALE"/>
			<result property="prdtScount" column="PRDT_SCOUNT"/>
			<result property="prdtReview" column="PRDT_REVIEW"/>
			<result property="prdtStatus" column="PRDT_STATUS"/>
		</resultMap>
		
		<resultMap type="Product_opt" id="product_optResultSet">
			<id property = "optNo" column="OPT_NO"/>
			<result property="PrdtNo" column="PRDT_NO"/>
			<result property="optColor" column="OPT_COLOR"/>
			<result property="size" column="OPT_SIZE"/>
			<result property="stock" column="OPT_STOCK"/>
			<result property="optDate" column="OPT_DATE"/>
			<result property="optModifyDate" column="MODIFY_DATE"/>
			<result property="prdtCode" column="PRDT_CODE"/>
		</resultMap>
		
		<resultMap type="Product_color" id="product_colorResultSet">
			<id property = "pcName" column="PC_NAME"/>
			<result property="pcRgb" column="PC_RGB"/>
		</resultMap> 
		
		<resultMap type="Wish" id="WishResultSet">
			<id property = "memNo" column="MEM_NO"/>
			<result property="prdtNo" column="PRDT_NO"/>
		</resultMap> 
		
	 <resultMap type="MaindownCategory" id="MaindownCategoryResultSet">
			<id property = "downNo" column="DOWN_NO"/>
			<result property="upNo" column="UP_NO"/>
			<result property="downName" column="DOWN_NAME"/>
			<result property="downUsing" column="DOWN_USING"/>
		</resultMap>
		
		<resultMap type="MainupCategory" id="MainupCategoryResultSet">
			<id property = "upNo" column="UP_NO"/>
			<result property="upName" column="UP_NAME"/>
			<result property="upUsing" column="UP_USING"/>
		</resultMap>

 
	
		<select id="getListCount1" parameterType="_int" resultType="_int">
	  	SELECT COUNT(*)
	  	FROM PRDT
	  	WHERE UP_NO = #{product1}
	  	AND PRDT_STATUS = 'Y'
		</select>
		
		<select id="getListCount2" parameterType="_int" resultType="_int">
	  	SELECT COUNT(*)
	  	FROM PRDT
	  	WHERE PRDT_NO LIKE #{product2}||'%'
	  	AND PRDT_STATUS = 'Y'
		</select>
  
		<select id="selectProduct1" parameterType="_int" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE UP_NO = #{product1}
		AND PRDT_STATUS = 'Y'
		ORDER BY PRDT_NO DESC
		</select>
		
		<select id="selectProduct2" parameterType="_int" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE PRDT_NO LIKE #{product2}||'%'
		AND PRDT_STATUS = 'Y'
		ORDER BY PRDT_NO DESC
		</select>
		
	 	<select id="selectProductOption1" parameterType="_int" resultMap="product_optResultSet">
		SELECT PRDT_NO, OPT_COLOR
		FROM PRDT_OPT
		WHERE PRDT_NO LIKE #{product1}||'%'
		GROUP BY PRDT_NO, OPT_COLOR
		</select>
		
		<select id="selectProductOption2" parameterType="_int" resultMap="product_optResultSet">
		SELECT PRDT_NO, OPT_COLOR
		FROM PRDT_OPT
		WHERE PRDT_NO LIKE #{product2}||'%'
		GROUP BY PRDT_NO, OPT_COLOR
		</select>
		
		<select id="selectProductColor1" parameterType="_int" resultMap="product_colorResultSet">
		SELECT *
		FROM P_COLOR
		
		</select>
		
		<select id="selectProductColor2" parameterType="_int" resultMap="product_colorResultSet">
		SELECT *
		FROM P_COLOR
		
		</select>
		
	
  <select id="selectCategory1" parameterType="_int" resultMap="MaindownCategoryResultSet">
		SELECT *
		FROM DOWN_CATE
		WHERE UP_NO = #{product1}
		AND DOWN_USING = 'Y'
		ORDER BY DOWN_NO ASC
		</select> 
		
		 <select id="selectUpCategory1" parameterType="_int" resultMap="MainupCategoryResultSet">
		SELECT *
		FROM UP_CATE
		</select> 
		
		<select id="selectCategory2" parameterType="_int" resultMap="MaindownCategoryResultSet">
		SELECT *
		FROM DOWN_CATE
		WHERE UP_NO = #{product2}
		AND DOWN_USING = 'Y'
		ORDER BY DOWN_NO ASC
		</select> 
		
		 <select id="selectUpCategory2" parameterType="_int" resultMap="MainupCategoryResultSet">
		SELECT *
		FROM UP_CATE
		WHERE UP_USING = 'Y'
		</select> 
		
		<select id="selectCategory3" parameterType="_int" resultMap="MaindownCategoryResultSet">
		SELECT *
		FROM DOWN_CATE
		WHERE DOWN_USING = 'Y'
		</select> 
		
		 <select id="selectUpCategory3" parameterType="_int" resultMap="MainupCategoryResultSet">
		SELECT *
		FROM UP_CATE
		WHERE UP_USING = 'Y'
		</select> 
		
		<select id="selectSortProduct1" parameterType="MainSearchCondition" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE UP_NO = #{product1}
		AND PRDT_STATUS = 'Y'
		<if test="sort == 0">
		ORDER BY PRDT_NO DESC
		</if>
		<if test="sort == 1">
		ORDER BY PRDT_SCOUNT DESC
		</if>
		<if test="sort == 2">
		ORDER BY PRDT_REVIEW DESC
		</if>
		<if test="sort == 3">
		ORDER BY PRDT_PRICE ASC
		</if>
		<if test="sort == 4">
		ORDER BY PRDT_PRICE DESC
		</if>
		</select>
		
		<select id="selectSortProduct2" parameterType="MainSearchCondition" resultMap="productResultSet">
		SELECT *
		FROM PRDT
		WHERE PRDT_NO LIKE #{product2}||'%'
		AND PRDT_STATUS = 'Y'
		<if test="sort == 0">
		ORDER BY PRDT_NO DESC
		</if>
		<if test="sort == 1">
		ORDER BY PRDT_SCOUNT DESC
		</if>
		<if test="sort == 2">
		ORDER BY PRDT_REVIEW DESC
		</if>
		<if test="sort == 3">
		ORDER BY PRDT_PRICE ASC
		</if>
		<if test="sort == 4">
		ORDER BY PRDT_PRICE DESC
		</if>
		</select>
		
		<select id="ProductSelectList" resultMap="productResultSet">
			SELECT * FROM PRDT
		</select>
		
		<update id="ProductDelete" parameterType="_int">
			UPDATE PRDT
			SET PRDT_STATUS='N'
			WHERE PRDT_NO=#{prdtNo}
		</update>
		<select id="selectWish" parameterType="_int" resultMap="WishResultSet">
		SELECT MEM_NO,PRDT_NO
		FROM DIBS
		WHERE MEM_NO = #{memNo}
		</select>
		
		<insert id="insertWish" parameterType="Wish">
		INSERT INTO DIBS
		VALUES(DIBS_SEQ.NEXTVAL,#{memNo},#{prdtNo},DEFAULT,NULL,NULL,DEFAULT)
		</insert>
		
		<insert id="ProductInsert" parameterType="Product">
		INSERT INTO PRDT
		VALUES (PRODUCT_SEQ.NEXTVAL, #{upNo}, #{prdtName}, #{prdtComment}
				,#{prdtPrice}, NULL, NULL, #{prdtImage}
				,SYSDATE, NULL, DEFAULT, #{downNo}, PRODUCT_SEQ.NEXTVAL
				,#{prdtImagePath}, #{prdtDetailImage},#{prdtDetailImagePath}
				,#{prdtSale}, DEFAULT, DEFAULT,DEFAULT)	 
		</insert>


</mapper>
