<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mypageMapper">

	<resultMap id="PointResultSet" type="Point">
		<id property="ptno" column="POINT_NO"/>
		<result property="memno" column="MEM_NO"/>
		<result property="ordno" column="ORD_NO"/>
		<result property="pt_date" column="POINT_DATE"/>
		<result property="pt_price" column="POINT_PRICE"/>
		<result property="pt_content" column="POINT_CONTENT"/>
		<result property="pt_duedate" column="POINT_DUEDATE"/>
		<result property="pt_part" column="POINT_PART"/>
	</resultMap>

	<resultMap id="CouponMemResultSet" type="CouponMem">
		<id property="cpseq" column="CP_SEQ"/>
		<result property="memno" column="MEM_NO"/>
		<result property="cpno" column="CP_NO"/>
		<result property="cpname" column="CP_NAME"/>
		<result property="cpDiscount" column="CP_DISCOUNT"/>
		<result property="cpdate" column="CP_DATE"/>
		<result property="cpstatus" column="CP_STATUS"/>
		<result property="cp_cdate" column="CP_COMDATE"/>
	</resultMap>
	
	<!-- 임시 resultmap (적립금) -->
	<!-- <resultMap id="memberResultSet11" type="Member">
			<id property="memNo" column="MEM_NO"/>
			<result property="memId" column="MEM_ID"/>
			<result property="memPwd" column="MEM_PWD"/>
			<result property="memName" column="MEM_NAME"/>
			<result property="memSsn" column="MEM_SSN"/>
			<result property="memAddress" column="MEM_ADDRESS"/>
			<result property="memEmail" column="MEM_EMAIL"/>
			<result property="memPhone" column="MEM_PHONE"/>
			<result property="memSumMoney" column="MEM_SUMMONEY"/>
			<result property="memOwner" column="MEM_OWNER"/>
			<result property="bank" column="BANK"/>
			<result property="returnBank" column="RETURN_BANK"/>
			<result property="mem_status" column="MEM_STATUS"/>
			<result property="mem_point" column="MEM_POINT"/>
		</resultMap> -->
	
	
	
	<select id="PointListCount" resultType="_int">
		SELECT COUNT(*)
		FROM POINT
		WHERE MEM_NO=#{memNo}
	</select>
	
	<select id="PointselectList" resultMap="PointResultSet">
		SELECT *
		FROM POINT
		WHERE MEM_NO=#{memNo}
		ORDER BY POINT_NO DESC
	</select>
	
	<select id="PointUnavailListCount" resultType="_int">
		SELECT COUNT(*)
		FROM POINT
		WHERE MEM_NO=#{memNo}
		
	</select>

	<select id="PointselectUnavailList" resultMap="PointResultSet">
		SELECT *
		FROM POINT
		WHERE MEM_NO=#{memNo}
		ORDER BY POINT_NO DESC
	</select>
	
	<select id="CouponListCount" resultType="_int">
		SELECT COUNT(*)
		FROM COUPON_MEM
		WHERE MEM_NO=#{memNo} 
		AND CP_STATUS='N'
		
	</select>
	
	<select id="CouponSelectList" resultMap="CouponMemResultSet">
		SELECT *
		FROM COUPON_MEM
		WHERE CP_STATUS='N'
		AND MEM_NO=#{memNo} 
		ORDER BY CP_SEQ DESC
	</select>
	
	<select id="CompleteCouponListCount" resultType="_int">
		SELECT COUNT(*)
		FROM COUPON_MEM
		WHERE CP_STATUS='Y'
	</select>

	<select id="CompleteCouponSelectList" resultMap="CouponMemResultSet">
		SELECT *
		FROM COUPON_MEM
		WHERE CP_STATUS='Y'
		ORDER BY CP_SEQ DESC
	</select>
	
	<select id="selectPoint" resultType="_int">
		SELECT SUM(DECODE(POINT_PART,'적립',1*POINT_PRICE,'사용',-1*POINT_PRICE)) AS PointSum 
		FROM POINT
		WHERE MEM_NO=#{memNo}
	</select> 
	
	<update id="updatePoint" parameterType="Member">
		UPDATE MEMBER
		SET MEM_POINT=#{mem_point}
		WHERE MEM_NO=#{memNo}
	</update>
</mapper>